<ion-header class="sub-menu-header auth-header">
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="sub-menu-content auth-content">
  <button #draw *ngIf="showDrawBtn" ion-button block class="auth-action-button sub-menu-button" (click)="drawCircle()">Draw Alert Area &nbsp; <ion-icon name="notifications"></ion-icon></button>
  <br>
  <button #remove *ngIf="!showDrawBtn" ion-button block class="auth-action-button sub-menu-button" (click)="removeCircle()"><ion-icon name="close-circle"></ion-icon>Remove</button>
  <br>
  <ion-item>
    <ion-datetime #startdatepicker text-center (ionChange)="startDateChanged($event)" displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="startdate" placeholder="Select the First Date/Time"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-datetime #enddatepicker text-center (ionChange)="endDateChanged($event)" displayFormat="DD-MM-YYYY HH:mm" [(ngModel)]="enddate" placeholder="Select the Last Date/Time"></ion-datetime>
  </ion-item>
  <button ion-button block class="auth-action-button sub-menu-button" (click)="searchPins()">Show Location Pins &nbsp; <ion-icon name="search"></ion-icon></button>

  <br>
  <button ion-button block class="auth-action-button sub-menu-button" (click)="callDeviceNumber()">Call &nbsp; <ion-icon name="phone"></ion-icon></button>
</ion-content>
